html{
    height: 100%;
}
body{
    background: url("https://wallpaperaccess.com/full/2381638.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 25%;
    font-family: 'Miriam Libre', sans-serif;
    color: black;
}
h1{
    color: black;
    text-align: center;
    text-shadow: 4px 15px 10px rgba(0,0,0,0.5),
                 2px 5px 5px rgba(0,0,0,0.5),
                 3px 5px 5px rgba(0,0,0,0.5);
    font-family: 'Miriam Libre', sans-serif;
    
}

i{
    margin-right: 7px;
    margin-left: 7px;
    font-size: large;
    color:#a1f0e8;
}
table,th,td{
    border-collapse: collapse;
    border: 2px solid wheat;
    text-align: center;
    align-content: center;
    background-color: rgba(0,0,0,0.5);
    color: white;
    padding: 15px;
}
th{
    background-color: #cf0c08;
    color: black;
    font-size: large;
}
tr{
    transition: all 0.5s;
}
tr:hover{
   background-color: #cf0c08;
}